html {
	background-image: url(loginTest1png.png);
}

.box {
	max-width: 1000px;
	min-width: 300px;
	max-height: 900px;
	min-height: 765px;
	margin: auto;
	background-image: url(loginTestpng.png);
}

.secondBox {
	width: 200px;
	margin: auto;
	color: white;
}

div a {
	text-decoration: none;
	color: white;
}

div a:hover {
	color: blue;
}

h1{
	color: white;
}

h1 {
	color: white;
}

ul.topnav {
	max-width: 698.69px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
background-color: #111;
}

ul.topnav li a.active {
background-color: #4CAF50;
}

ul.topnav li.right {
float: right;
}

@media screen and (max-width: 100px){
    ul.topnav li.right, 
    ul.topnav li {
    	float: none;
    }