.b1,.b2,.b3,.b4,.b5,.b6,.b7 {
	color: white;
	border: 2px solid black;
	max-width: 300px;
	min-width: 300px;
	min-height: 70px;
	position: absolute;
}

.b1,.b2,.b3,.b4 {
	background: #2db34a;
  float: left;
  margin: 1.858736059%;
  width: 29.615861214%;
}

.b5,.b6 {
	margin: auto;
	left: 450px;
}

.b7 {
	float: right;
	min-width: 300px;
	left: 800px;
}

.b2 {
	background: #2db34a;
  float: left;
  margin-top: 6.858736059%;
  width: 50.615861214%;
}

.b3 {
	background: #2db34a;
  float: left;
  margin-top: 11.858736059%;
  width: 50.615861214%;
}

.b4 {
	background: #2db34a;
  float: left;
  margin-top: 16.858736059%;
  width: 50.615861214%;
}

.b5 {
	top: 400;
}

.b6 {
	top: 475px;
}

.b7 {
	top: 437.5px;
}